li.user_items = t('users.proccessing group') + @current_user.task.groups.first.url.to_s
li.user_items = t('users.like count') + @current_user.like_count.to_s
li.user_items = t('users.message count') + @current_user.message_count.to_s
li.user_items = t('users.comment count') + @current_user.comment_count.to_s