.session_header{
  background: #eeeeee;
  width: 100%;
  height: 50px;
  text-align: right;
  line-height: 50px;
}

.session_header li {
  color: #000000;
  text-decoration: none;
  margin-right: 50px;
}

.singup {
  width: 350px;
  height: 180px;
  margin: 30px auto;
  border-radius: 0 0 20px 20px;

}

.singup-title {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

lable {
  width: 100%;
  padding: 5px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
}

#password {
  float: right;
  width: 220px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #999999;
  outline: none;
}

#name {
  float: right;
  width: 220px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #999999;
  outline: none;
}
/* .singup lable input[type="text"]:focus {
  border: 3px solid #87D37C;
} */
#name:focus{
  border: 2px solid #00B16A;
}

#password:focus{
  border: 2px solid #00B16A;
}

.singup-submit {
  display: block;
  border-radius: 8px;
  padding: 6px 10px;
  background: #87D37C;
  font-size: 16px;
  border: 0;
  float: right;
  margin-right: 20px;
}
