.users {

  .for_li ul {
    display: flex;
    height: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

  .for_li ul li {
      display: flex;
      list-style: none;
      width: 80px;
      height: 40px;
      border: 1px solid #000000;
      justify-content: center;
      align-items: center;

}
}
